@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
}
.m-box {
	display: flex;
	flex-direction: column;
}
.m-head{
	display: flex;
	flex-direction: column;
	color: white;
	background:linear-gradient(135deg,#34d399, #4fa3f7);
	padding: 30px 50px 0px;
}
.m-body{
	display: flex;
	flex-direction: column;
	padding: 30px 50px;
}
.m-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.t-name{
	font-size: 30px;
}
.t-return {
	margin-right: 10px;
}
.row {
	height: 64.8px;
	display: flex;
	flex-direction: row;
	font-size: 16px;
	color: #666;
	line-height: 64px;
	text-align: center;
	border-right: #f0f0f0 1px solid;
}
.row>div {
	width: 95px;
}
.chuzhen {
	background: #d2ecf1;
	color: #1e9cb9;
	cursor: pointer;
}

