@charset "UTF-8";
body {
	margin: 0px;
	padding: 0px;
}
.m-head {
	color: white;
	background: #214A9A;
	padding: 30px 50px 0px;
}
.m-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
}
.t-name {
	font-size: 30px;
	padding-right: 1000px;
}
.t-login {
	margin-right: 20px;
	color: #A9A9A9;
}
.t-login:hover {
	cursor: pointer;
	color: #214A9A;
}
.t-search {
	display: flex;
	align-items: center;
}
.t-search>input {
	margin-right: 15px;
}
.t-search>svg {
	cursor: pointer;
}
.m-intr {
	text-align: center;
	display: flex;
	padding: 0px 30px;
	flex-direction: row;
	border-top: 0.1px solid #385CA4;
}
.m-intr>div {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}
.m-intr>div:hover {
	cursor: pointer;
	background: #FAC532;
	color: white;
}
.m-intr>div+div {
	margin-left: 50px;
}
.m-image {
	width: 1519px;
	height: 500px;
	background: url(image/main.jpg);
}
.m-body {
	padding: 30px 50px;
	display: flex;
	flex-direction: row;
}
.m-left{
	width: 760px;
}
.l-title {
	color: #214A9A;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.appointments {
	height: 467px;
	background: #848AFD;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.appointments:hover {
	cursor: pointer;
}
.m-right {
	width: 760px;
	height: 100px;
	display: flex;
	flex-direction: row;
}
.online {
	background: #10B7EB;
}
.schedule {
	background: #2277F7;
}
.guide {
	background: #FFBD4D;
}
.experts {
	background: #0EDBD9;
}
.item {
	width: 380px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.item:hover {
	cursor: pointer;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info-chinese {
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}
.info-english {
	text-align: center;
}
.m-end {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	padding: 50px;
}
.m-end>div+div {
	margin-left: 150px;
}
.e-left {
	font-size: 30px;
	letter-spacing: 20px;
}
.e-mid {
	display: flex;
	flex-direction: row;
	font-size: 20px; 	
}
.e-mid>div+div {
	margin-left: 80px;
}
.e-mid>div>div+div {
	margin-top: 20px;
}
.e-right {
	display: flex;
	flex-direction: row;	
}
.e-right>div+div {
	margin-left: 80px;
}
.e-right>div>div+div {
	margin-top: 20px;
}

